/* Consulate CSS Reset */
/* line 3, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Exo", sans-serif; }

/* HTML5 display-role reset for old browsers */
/* line 14, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 17, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
body {
  line-height: 1em; }

/* line 20, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
ol, ul {
  list-style: none; }

/* line 23, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
blockquote, q {
  quotes: none; }

/* line 27, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
q:before, q:after {
  content: "";
  content: none; }

/* line 36, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of CSS Reset */
/* line 42, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 45, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.body {
  font: 0.66667 Arial, sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: #141414; }

/* line 52, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.wrapper {
  padding: 50px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #141414; }

/* line 61, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.content {
  min-height: 100%; }

/* line 65, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
body.opc {
  background: transparent; }

/* Header
 *----------------------------------------------------------------------------- */
/* line 71, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.header {
  height: 5em;
  background: #1a1a1a;
  padding-left: 5em;
  margin-top: -3em; }

/* line 77, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.consulate_logo {
  padding-top: 1.2em;
  position: absolute;
  left: 1.2em; }

/* Main Area
 *----------------------------------------------------------------------------- */
/* line 85, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row !important;
  flex-direction: row;
  min-height: 300px;
  max-height: 450px;
  background-color: #141414 !important;
  border: none !important;
  margin: 2rem auto;
  min-height: 900px; }
  /* line 86, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .flexcontainer.wrap.column {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
  /* line 95, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .flexcontainer.column {
    -webkit-flex-direction: column;
    flex-direction: column; }
  /* line 108, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .flexcontainer > .div {
    height: 14em;
    width: 38em;
    background-color: #323232;
    border: 1px solid #626262;
    margin: 1em;
    padding: 1em 1em 1em 1em;
    position: relative; }

/* line 117, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.statusbox {
  padding: 0.4em;
  margin: 0 !important; }

/* line 121, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.detail_button {
  float: right;
  background: #1d1d1d;
  color: #f1f1f1 !important;
  position: relative;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-size: 1.1em;
  border: none !important; }

/* line 131, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.detail_buttons {
  float: right;
  padding: 0.8em;
  background: #1d1d1d;
  right: 1em;
  position: relative;
  margin-top: 1.5em;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-size: 1.15em;
  border: none !important; }

/* Text Stylings
 *----------------------------------------------------------------------------- */
/* line 146, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.h1 {
  font-size: 3.5em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #78c114; }

/* line 152, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.opstate {
  color: #f1f1f1 !important;
  font-size: 1.5em;
  text-transform: uppercase;
  display: inline-block !important;
  margin-top: 0.4em; }

/* line 159, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.status {
  color: #f1f1f1 !important;
  font-size: 1.5em;
  text-transform: uppercase;
  display: inline-block !important;
  margin-top: 0.75em; }

/* line 166, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.green {
  color: #78c114 !important; }

/* line 169, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.red {
  color: #cb2c11 !important; }

/* line 172, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.yellow {
  color: #ecd90b !important; }

/* line 175, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.status {
  font-size: 1.5em;
  text-transform: uppercase;
  display: inline-block; }

/* line 180, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
#columnChild86333 > p > a {
  color: #ffffff !important; }

/* line 184, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.dash_box .h1 {
  margin-top: 0.3em;
  margin-left: 0.1em; }

/* line 188, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.dash_box p {
  margin-left: 0.45em; }

/* line 191, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.statustext {
  display: block;
  line-height: 1em !important;
  margin-top: 1em; }

/* line 196, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.optext {
  display: block; }

/* line 199, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
body > div > div > div:nth-child(9) {
  background: #1d1d1d;
  overflow: hidden;
  position: relative; }

/* line 204, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.add_box a {
  color: #2d2d2d !important;
  text-decoration: none !important;
  font-weight: 700;
  font-size: 24em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 214, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
#columnChild86333 a {
  text-decoration: none !important;
  color: #111111 !important;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 1em;
  padding-top: 0.5em !important;
  width: 100%;
  position: absolute; }

/* line 224, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
#columnChild13556 a, #columnChild15745 a, #columnChild64505 a, #columnChild57871 a, #columnChild75902 a {
  text-decoration: none !important;
  color: #f1f1f1 !important;
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 1em;
  padding-top: 0.8em;
  background: #333333 !important;
  position: absolute; }

/* Flexbox
 *-----------------------------------------------------------------------------
 *
 *  #flexcanvas
 *  width: 100% */
/* line 240, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.rowParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

/* line 265, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.columnParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* line 294, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.flexChild {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

/* line 303, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
#columnChild86333 {
  background: #454545 !important;
  height: 2.8em !important; }

/* line 307, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
#columnChild13556, #columnChild15745, #columnChild64505, #columnChild57871, #columnChild75902 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 3em;
  background: #333333;
  border-top: solid 1px #1d1d1d; }

/* line 316, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
#rowDownstream, #rowUpstream {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
  background: #1d1d1d; }

/* line 324, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
#rowDetailView {
  padding: 3em; }

/* Footer
 *----------------------------------------------------------------------------- */
/* line 330, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.footer {
  height: 2em;
  background: #1a1a1a;
  color: #aaaaaa;
  margin-bottom: -2em;
  padding-left: 1.2em;
  padding-top: 1em; }

/* Operational State Circle Indicator
 *----------------------------------------------------------------------------- */
/* line 341, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.opc_holder {
  float: right;
  margin-right: 7em;
  margin-top: 0em; }

/* line 346, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.opc {
  position: absolute;
  transform: scale(0.3) translate(-24em, -24em);
  overflow: hidden;
  visibility: visible;
  width: 329px;
  height: 329px;
  z-index: 987987; }
  /* line 355, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc.down2 .opcsprite {
    left: 0%; }
  /* line 358, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc.standby .opcsprite {
    left: -329px; }
  /* line 361, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc.test .opcsprite {
    left: -658px; }
  /* line 364, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc.down .opcsprite {
    left: -987px; }
  /* line 367, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc.up .opcsprite {
    left: -1316px; }
  /* line 369, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc .spacer {
    display: block;
    width: 329px;
    height: 329px; }
  /* line 373, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc .opcsprite {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1645px;
    height: 329px; }
    /* line 381, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
    .opc .opcsprite.s2 {
      left: -329px; }
    /* line 383, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
    .opc .opcsprite.s3 {
      left: -658px; }

/* line 386, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.opc2 {
  position: absolute;
  transform: scale(0.3);
  overflow: hidden;
  visibility: visible;
  width: 100%;
  height: 329px; }
  /* line 394, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc2.down2 .opcsprite {
    left: 0%; }
  /* line 397, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc2.standby .opcsprite {
    left: -329px; }
  /* line 400, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc2.test .opcsprite {
    left: -658px; }
  /* line 403, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc2.down .opcsprite {
    left: -987px; }
  /* line 406, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
  .opc2.up .opcsprite {
    left: -1316px; }

/* Icons
 *----------------------------------------------------------------------------- */
/* line 412, /Users/cthompson/projects/gitlab/development/consulate-ui/source/stylesheets/opc.sass */
.icon {
  width: 2em;
  height: 2em; }
